.footer_main{
   padding-top: 50px 10px 0px 10px;
   margin-top: 200px;
}

.footer_section{
    padding: 0px 20px;
}

.footer_section_title{
   padding: 8px 0px;
}

.footer_section_title p{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.footer_section_option p{
    margin: 12px 0px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}


.footer_bottom p{
    color: #98A2B3;
    font-size: 16px;
    font-weight: 400;
}

/* Screen size <= 768px (Mobile Phones)*/
@media (max-width: 768px) {
    .footer_main{
        display: none;
    }
}

/* Screen size > 768px and <=1200px (tablets?small Laptops)*/
@media (min-width: 769px) and (max-width: 1200px) {       
    .footer_main{
       /* background-color: blue; */
    }
    
    .footer_section{
        /* padding: 0px 10px; */
    }
        
    .footer_section_title p{
        font-size: 16px;
    }
    
    .footer_section_option p{
        font-size: 14px;
    }
    
    
    .footer_bottom p{
        font-size: 14px;
    }
   
}
