.home_header_container{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 30px;
    z-index: 10;
}

.events_main{
    margin-top: 150px;
}

/* Heading and subheading section */
.events_description_title{
    max-width: 60%;
    font-size: 40px;
}

.events_description_subtitle{
    max-width: 40%;
    font-size: 24px;
}

.events_description_bttn{
    background: linear-gradient(
        to right,
        #44BCFF 0%, 
        #44B0FF 23%, 
        #FF44EC 49%, 
        #FF44EC 74%, 
        #FF675E 100%
    );
    padding: 1px;
    border-radius: 10px;
}

.events_description_bttn button{
    background-color: #000000;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
}


/* Live Events Section Styles */
.live_events_section{
    gap: 10px;
    padding: 50px 20px;
}

.live_events_title,.live_events_subtitle{
    background: linear-gradient(
        to right,
        #44BCFF 0%, 
        #44B0FF 23%, 
        #FF44EC 49%, 
        #FF44EC 74%, 
        #FF675E 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.live_events_title{
    font-size: 36px;
    max-width: 90%;
}

.live_events_subtitle{
    max-width: 50%;
    font-size: 16px;
}

.live_events_main{
    padding: 50px 20px;
}

.live_events_main_video{
    width: 70%;
    position: relative;
}
.live_events_main_video video{
    border-radius: 20px;
    cursor: pointer;
}

.live_events_play_button{
    width: 70px;
    height: 70px;
    border-radius:26px;
    border: 2px solid #fff;
    backdrop-filter: blur(80px);
    position: absolute;
    top: 50%;
    left: 50%;
}

.live_events_play_button i{
    margin: 0;
    color: #fff;
    font-size: 30px;
    margin-left: 5px;
}

.live_events_comment1{
    background-color: #262626;
    position: absolute;
    left: -10%;
    bottom: 10%;
    padding: 10px;
    max-width: 300px;
    border-radius: 20px;
}

.live_events_comment2{
    background-color: #262626;
    position: absolute;
    right: -10%;
    bottom: 10%;
    padding: 10px;
    max-width: 300px;
    border-radius: 20px;
}

.live_events_video_details{
    position: absolute;
    left:0;
    top:0;
    padding: 10px;
    gap: 5px;
}

.live_events_video_details_desig{
    font-size: 12px;
}

.live_events_video_details_name{
   font-size: 12px;
}

.live_events_video_details_name span{
    font-size: 16px;
    font-weight: 500;
}

.live_events_video_details_live{
    width: 50px;
    border: 2px solid #fff;
    border-radius: 6px;
    padding: 2px;
}

.live_events_video_details_viewers{
   gap: 10px;
}

.live_events_video_details_viewers i{
    font-size: 20px;
}

.live_events_video_details_viewers p{
    font-size: 12px;
    font-weight: 300;
}




/* Never miss any events section styles */
.events_never_miss{
    padding: 80px 20px;
    gap: 40px;
}

.events_never_miss img{
    width: 600px;
    box-shadow: rgba(0,0,0,0.1) 0px 10px 50px 10px;
    border-radius: 10px;
}

.events_never_miss_main{
    gap: 30px;
    min-width: 280px;
}

.events_never_miss_title{
    font-size: 30px;
    font-weight: 600;
    max-width: 500px;
}

.events_never_miss_desc{
    font-size: 16px;
    font-weight: 400;
    color: #3F3F46;
    max-width: 500px;
}

.events_never_miss_main button{
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 10px;
}




/* Add Events section */
.events_add_event{
    padding: 30px 20px;
}

.events_add_event img{
    width: 600px;
}

.events_add_event_main{
   padding: 20px;
   gap: 30px;
   max-width: 700px;
}

.events_add_event_main_bttn{
    background: linear-gradient(
        to right,
        #44BCFF 0%, 
        #44B0FF 23%, 
        #FF44EC 49%, 
        #FF44EC 74%, 
        #FF675E 100%
    );
    padding: 2px;
    border-radius: 10px;
}

.events_add_event_main button{
    background-color: #000000;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    gap:10px;
    padding: 10px;
    border-radius: 10px;
}

.events_add_event_main_title{
    font-size: 30px;
    max-width: 90%;
}

.events_add_event_main_subtitle{
    font-size: 20px;
}


/* Downloadable events section */
.events_download{
    background-color: #000000;
    gap: 30px;
    padding: 50px 20px;
    margin-bottom: 100px;
}

.events_download_title{
    background: linear-gradient(
        to right,
        #44BCFF 0%, 
        #44B0FF 23%, 
        #FF44EC 49%, 
        #FF44EC 74%, 
        #FF675E 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 36px;
}

.events_download_video{
    width: 70%;
    border-radius: 20px;
    padding: 1px;
    background: linear-gradient(
        to right,
        #44BCFF 0%, 
        #44B0FF 23%, 
        #FF44EC 49%, 
        #FF44EC 74%, 
        #FF675E 100%
    );
    position: relative;
}

.events_download_video video{
   border-radius: 20px;
}






/* Screen size <= 768px (Mobile Phones)*/
@media (max-width: 768px) {
    .events_description_title{
        max-width: 90%;
        font-size: 28px;
    }
    
    .events_description_subtitle{
        max-width: 90%;
        font-size: 16px;
    }

    .live_events_title{
        font-size: 28px;
        max-width: 90%;
    }
    
    .live_events_subtitle{
        max-width: 90%;
        font-size: 12px;
    }
    
    .live_events_title{
        font-size: 30px;
        max-width: 90%;
    }
    
    .live_events_subtitle{
        max-width: 90%;
        font-size: 12px;
    }
    
    .live_events_main{
        padding: 50px 10px;
    }

    .live_events_main_video{
        width: 100%;
    }

    .live_events_play_button{
        width: 40px;
        height: 40px;
        border-radius:12px;
    }
    
    .live_events_play_button i{
        font-size: 16px;
        margin-left: 3px;
    }
    
    .live_events_comment1{
        position: absolute;
        left: -5%;
        bottom: -5%;
        padding: 5px;
        max-width: 150px;
        border-radius: 10px;
        font-size: 10px;
    }
    
    .live_events_comment2{
        position: absolute;
        right: -5%;
        bottom: -5%;
        padding: 5px;
        max-width: 150px;
        border-radius: 10px;
        font-size: 10px;
    }
    
    .live_events_video_details{
        padding: 5px;
        gap: 1px;
    }
    
    .live_events_video_details_desig{
        font-size: 8px;
    }
    
    .live_events_video_details_name{
       font-size: 10px;
    }
    
    .live_events_video_details_name span{
        font-size: 10px;
    }
    
    .live_events_video_details_live{
        width: 30px;
        border-radius: 3px;
        font-size: 10px;
    }
    
    .live_events_video_details_viewers{
       gap: 5px;
    }
    
    .live_events_video_details_viewers i{
        font-size: 14px;
    }
    
    .live_events_video_details_viewers p{
        font-size: 10px;
    }
        
    .events_add_event_main button{
        font-size: 16px;
    }
    
    .events_add_event_main_title{
        font-size: 26px;
    }
    
    .events_add_event_main_subtitle{
        font-size: 16px;
    }    

    .events_download{
        padding: 50px 10px;
    }
    
    .events_download_title{
        font-size: 30px;
    }
    
    .events_download_video{
        width: 100%;
    }   
    
}


/* Screen size > 768px and <=1200px (tablets/small-laptops)*/
@media (min-width: 769px) and (max-width: 1200px) {
    .events_description_title{
        max-width: 70%;
        font-size: 30px;
    }
    
    .events_description_subtitle{
        max-width: 50%;
        font-size: 18px;
    }

    .live_events_title{
        font-size: 32px;
    }
    
    .live_events_subtitle{
        font-size: 14px;
    }
        
    .live_events_main_video{
        width: 80%;
    }
    
    .live_events_play_button{
        width: 60px;
        height: 60px;
        border-radius:20px;
    }
    
    .live_events_play_button i{
        font-size: 24px;
    }
    
    .live_events_comment1{
        position: absolute;
        left: -5%;
        bottom: 5%;
        font-size: 16px;
        padding: 8px;
    }
    
    .live_events_comment2{
        position: absolute;
        right: -5%;
        bottom: 5%;
        font-size: 16px;
        padding: 8px;
    }
    
    .live_events_video_details{
        padding: 8px;
    }   
    
    .events_add_event_main_title{
        font-size: 28px;
    }
    
    .events_add_event_main_subtitle{
        font-size: 18px;
    }    

    .events_download{
        padding: 50px 20px;
    }
    
    .events_download_title{
        font-size: 32px;
    }
    
    .events_download_video{
        width: 80%;
    }  

}